apiVersion: v1
kind: Secret
metadata:
  name: cloudcompare-secret
  namespace: cloudcompare
type: Opaque
data:
  # Base64 encoded values - replace with your own
  # To encode: echo -n 'your-value' | base64
  REGISTRY_TOKEN: <base64-encoded-do-token>
